
  <div class="row footer">
    <div class="sponsors">
        Thanks to support from:<br/>
      <a href="https://www.lco.global"><img src="{{ "/images/LCO_logo_BW_sq_sm.png" | absURL }}" alt="LCO logo" /></a>
      <a href="http://www.ras.org.uk"><img src="{{ "/images/ras.gif" | absURL }}" alt="RAS logo" /></a>
      <a href="http://www.gov.wales"><img src="{{ "/images/wales-gov.png" | absURL }}" alt="Welsh Government logo" /></a>
    </div>


    <p class="small">&copy; <a href="http://www.darkmattersheep.uk">Dark Matter Sheep</a> and <a href="http://www.auralab.co.uk">Auralab</a></p>
  </div>
</div>

</body>

</html>
