{{ partial "header.html" . }}

<div class="row">
  <div class="four columns">
      <img src="/images/comics.jpg" alt="Download the comics here" />
      <a href="/comics/">
      <h3>Comics</h3>
    </a>
    <p>Download Ada's adventures in English, Cymraeg, Deutsche, and Espa&ntilde;ol</p>
  </div>
  <div class="four columns">
    <img src="/images/ada_head.jpg" alt="Latest news of Ada's adventures" />
    <a href="/news/">
    <h3>News</h3>
    </a>
    <p>Latest news of Ada's adventures</p>
  </div>
  <div class="four columns">
    <img src="/images/ada_looking_up.jpg" alt="Educational activities inspired by Ada's adventures" />
    <h3>Activities</h3>
    <p>Educational activities coming soon!</p>
  </div>
</div>

{{ partial "footer.html" . }}
