{{ partial "header.html" . }}

<div class="row">
  <div class="three columns">
    <div class="icon-level">
      <img src="/images/comics.jpg" alt="Download the comics here" class="responsive" />
    </div>
      <a href="/comics/">
      <h3>Comics</h3>
      </a>
    <p>Download Ada's adventures in English, Cymraeg, Deutsch &amp; Espa&ntilde;ol</p>
  </div>

  <div class="three columns">
    <div class="icon-level">
    <img src="/images/ada_head.jpg" alt="Latest news of Ada's adventures" class="responsive" />
  </div>
    <a href="/news/">
    <h3>News</h3>
    </a>
    <p>Latest news of Ada's adventures</p>
  </div>
  <div class="three columns">
    <div class="icon-level">
    <img src="/images/ada_looking_up.jpg" alt="Educational activities inspired by Ada's adventures" class="responsive" />
  </div>
    <h3>Activities</h3>
    <p>Educational activities coming soon!</p>
  </div>
  <div class="three columns">
    <div class="icon-level">
    <i class="far fa-shopping-cart fa-10x"></i>
  </div>
      <a href="/shop/">
      <h3>Shop</h3>
    </a>
    <p>Buy+Give a classroom pack of 30 comics</p>
  </div>
</div>

{{ partial "footer.html" . }}
